@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  font-family: "DM Sans", sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
html body {
  position: relative;
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 0px) {
  html body {
    padding: 0px 20px;
  }
}
@media screen and (min-width: 1024px) {
  html body {
    padding: 0px 100px;
  }
}
@media screen and (min-width: 1024px) {
  html body {
    max-width: 1440px;
  }
}
html body p {
  margin: 0;
}
html body p #skip-content {
  text-align: center;
  margin: 5px auto 0px auto;
  width: max-content;
  color: black;
  font-weight: 700;
  font-size: 1.125rem;
  background-color: #DB8876;
  border-radius: 5px;
  padding: 3px 8px;
  text-decoration: none;
  opacity: 0;
  display: block;
}
@media screen and (min-width: 0px) {
  html body p #skip-content {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  html body p #skip-content {
    display: block;
  }
}
html body p #skip-content:focus, html body p #skip-content:active {
  opacity: 1;
}
@media screen and (min-width: 0px) {
  html body header {
    padding: 30px 0px 0px 0px;
  }
}
@media screen and (min-width: 1024px) {
  html body header {
    padding: 10px 0px 0px 0px;
  }
}
html body main#index.index {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}
@media screen and (min-width: 0px) {
  html body main#index.index {
    padding: 30px 0px 0px 0px;
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  html body main#index.index {
    padding: 100px 0px 0px 0px;
    flex-direction: row;
  }
}
@media screen and (min-width: 0px) {
  html body main.photographer {
    padding: 30px 0px 0px 0px;
  }
}
@media screen and (min-width: 1024px) {
  html body main.photographer {
    padding: 50px 0px 0px 0px;
  }
}
html :focus {
  border: 2px solid black;
}

header {
  display: flex;
  width: 100%;
}
@media screen and (min-width: 0px) {
  header {
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  header {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
header figure {
  margin: 0px;
  padding: 0px;
  height: auto;
  width: max-content;
}
header figure a {
  height: 100%;
  display: block;
}
@media screen and (min-width: 0px) {
  header figure a img {
    width: 150px;
  }
}
@media screen and (min-width: 1024px) {
  header figure a img {
    width: 200px;
  }
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 0px) {
  header nav {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1024px) {
  header nav {
    margin-right: 310px;
  }
}
header nav ul {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin-bottom: 0px;
}
@media screen and (min-width: 1024px) {
  header nav ul {
    margin-top: 0px;
  }
}
@media screen and (min-width: 0px) {
  header nav ul {
    justify-content: center;
  }
}
header nav ul li {
  margin: 0px 5px 6px 0px;
  display: flex;
}

@media screen and (min-width: 0px) {
  header.photographer {
    margin-top: 0px;
  }
}
@media screen and (min-width: 1024px) {
  header.photographer {
    margin-top: 38px;
  }
}

main#index.index h1 {
  font-weight: 400;
  color: #901C1C;
  margin: 0px;
  padding: 0px;
  text-align: right;
  width: max-content;
  position: absolute;
  right: 0px;
}
@media screen and (min-width: 0px) {
  main#index.index h1 {
    font-size: 0.875rem;
    top: 37px;
    right: 20px;
  }
}
@media screen and (min-width: 1024px) {
  main#index.index h1 {
    font-size: 2.25rem;
    top: 45px;
    right: 100px;
  }
}
main#index.index section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  flex-grow: 1;
}
@media screen and (min-width: 0px) {
  main#index.index section {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  main#index.index section {
    width: 33%;
  }
}
main#index.index section a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
main#index.index section a h2 {
  font-size: 2.25rem;
  color: #D3573C;
  font-weight: 400;
  margin: 0px 0px 10px 0px;
  text-align: center;
}
main#index.index section p.index_country {
  display: block;
  font-size: 0.8125rem;
  color: #901C1C;
  margin: 0px 0px 5px 0px;
}
main#index.index section p.index_tagline {
  display: block;
  font-size: 0.625rem;
  margin: 0px 0px 5px 0px;
  color: black;
}
main#index.index section p.index_price {
  display: block;
  color: #757575;
  font-size: 0.5625rem;
  margin: 0px 0px 0px 0px;
}
main#index.index section ul {
  list-style: none;
  display: flex;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}
main#index.index section ul li {
  margin-right: 5px;
}

section#fiche {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 0px) {
  section#fiche {
    background-color: white;
    padding: 0px;
  }
}
@media screen and (min-width: 1024px) {
  section#fiche {
    background-color: #FAFAFA;
    padding: 50px;
  }
}
section#fiche h2.name {
  font-weight: 400;
  color: #D3573C;
  margin: 0;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 0px) {
  section#fiche h2.name {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  section#fiche h2.name {
    font-size: 4rem;
  }
}
@media screen and (min-width: 0px) {
  section#fiche p.contact {
    display: flex;
    justify-content: center;
    font-size: 1.125rem;
    position: fixed;
    bottom: 28px;
    left: 0;
    margin: 0px auto;
    height: 35px;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  section#fiche p.contact {
    display: inline-block;
    justify-content: unset;
    font-size: 1.25rem;
    position: relative;
    bottom: unset;
    margin-left: 50px;
    height: 69px;
    width: max-content;
  }
}
section#fiche p.contact button.btn {
  font-size: 1.125rem;
  font-weight: 700;
  color: white;
  background-color: #901C1C;
  width: max-content;
  padding: 0px 11px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
section#fiche p.contact button.btn:hover, section#fiche p.contact button.btn:focus {
  background-color: #D3573C;
}
section#fiche p.contact button.btn:focus {
  border: 2px solid black;
}
section#fiche p.country {
  width: 100%;
  color: #901C1C;
  margin: 0px;
}
@media screen and (min-width: 0px) {
  section#fiche p.country {
    font-size: 0.8125rem;
  }
}
@media screen and (min-width: 1024px) {
  section#fiche p.country {
    font-size: 1.5rem;
  }
}
section#fiche p.tagline {
  width: 100%;
  color: #525252;
}
@media screen and (min-width: 0px) {
  section#fiche p.tagline {
    font-size: 0.8125rem;
  }
}
@media screen and (min-width: 1024px) {
  section#fiche p.tagline {
    font-size: 1.125rem;
  }
}
section#fiche ul {
  width: 100%;
  list-style: none;
  display: flex;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}
section#fiche ul li {
  margin-right: 5px;
}
@media screen and (min-width: 0px) {
  section#fiche ul li a {
    font-size: 0.8125rem;
  }
}
@media screen and (min-width: 1024px) {
  section#fiche ul li a {
    font-size: 1.125rem;
  }
}
section#fiche figure {
  position: absolute;
}
@media screen and (min-width: 0px) {
  section#fiche figure {
    top: 0px;
    right: 0px;
  }
}
@media screen and (min-width: 1024px) {
  section#fiche figure {
    top: 50px;
    right: 50px;
  }
}
@media screen and (min-width: 0px) {
  section#fiche figure img {
    width: 100px !important;
    height: 100px !important;
  }
}
@media screen and (min-width: 1024px) {
  section#fiche figure img {
    width: 200px !important;
    height: 200px !important;
  }
}

section#gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
@media screen and (min-width: 0px) {
  section#gallery {
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  section#gallery {
    justify-content: flex-start;
    flex-direction: row;
  }
}
section#gallery figure {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 30px 0px;
}
@media screen and (min-width: 0px) {
  section#gallery figure {
    width: 100%;
    max-width: 500px;
  }
}
@media screen and (min-width: 1024px) {
  section#gallery figure {
    width: 30%;
    margin-right: 5%;
  }
}
section#gallery figure img {
  border-radius: 5px;
  object-fit: cover;
  object-position: top;
  cursor: pointer;
}
@media screen and (min-width: 0px) {
  section#gallery figure img {
    width: 100%;
    max-width: 500px;
    height: 190px;
  }
}
@media screen and (min-width: 1024px) {
  section#gallery figure img {
    width: 100%;
    height: 300px;
  }
}
section#gallery figure video {
  margin: 0px 0px 0px 0px;
  object-fit: cover;
  object-position: top;
  cursor: pointer;
  border-radius: 5px;
}
@media screen and (min-width: 0px) {
  section#gallery figure video {
    width: 100%;
    max-width: 500px;
    height: 190px;
  }
}
@media screen and (min-width: 1024px) {
  section#gallery figure video {
    width: 100%;
    height: 300px;
  }
}
section#gallery figure figcaption {
  display: flex;
  order: 2;
  display: flex;
  justify-content: space-between;
}
section#gallery figure figcaption span.title {
  width: max-content;
}
section#gallery figure figcaption span.like {
  width: max-content;
}
section#gallery figure figcaption span.title, section#gallery figure figcaption span.like {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #901C1C;
}
@media screen and (min-width: 0px) {
  section#gallery figure figcaption span.title, section#gallery figure figcaption span.like {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1024px) {
  section#gallery figure figcaption span.title, section#gallery figure figcaption span.like {
    font-size: 1.375rem;
  }
}
section#gallery figure figcaption .newcolor {
  color: #DB8876 !important;
}
section#gallery figure:nth-child(3n+0) {
  margin-right: 0 !important;
}

section#lightbox {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  width: 100%;
  height: 100vh;
  z-index: 12;
}
section#lightbox .close-lightbox {
  position: absolute;
  color: #901C1C;
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 0px) {
  section#lightbox .close-lightbox {
    top: 20px;
    right: 20px;
    font-size: 1.1875rem;
  }
}
@media screen and (min-width: 1024px) {
  section#lightbox .close-lightbox {
    top: 40px;
    right: 40px;
    font-size: 2.625rem;
  }
}
section#lightbox .close-lightbox::before {
  content: "";
  width: 42px;
  height: 42px;
  font-weight: 900;
  font-family: "fontawesome";
}
section#lightbox .btnright-lightbox, section#lightbox .btnleft-lightbox {
  position: absolute;
  top: 50%;
  color: #901C1C;
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 0px) {
  section#lightbox .btnright-lightbox, section#lightbox .btnleft-lightbox {
    font-size: 0.625rem;
  }
}
@media screen and (min-width: 1024px) {
  section#lightbox .btnright-lightbox, section#lightbox .btnleft-lightbox {
    font-size: 1.875rem;
  }
}
section#lightbox .btnright-lightbox::before, section#lightbox .btnleft-lightbox::before {
  width: 42px;
  height: 42px;
  font-weight: 900;
  font-family: "fontawesome";
}
@media screen and (min-width: 0px) {
  section#lightbox .btnright-lightbox {
    right: 20px;
  }
}
@media screen and (min-width: 1024px) {
  section#lightbox .btnright-lightbox {
    right: 40px;
  }
}
section#lightbox .btnright-lightbox::before {
  content: "";
}
@media screen and (min-width: 0px) {
  section#lightbox .btnleft-lightbox {
    left: 20px;
  }
}
@media screen and (min-width: 1024px) {
  section#lightbox .btnleft-lightbox {
    left: 40px;
  }
}
section#lightbox .btnleft-lightbox::before {
  content: "";
}
section#lightbox figure {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
section#lightbox figure img {
  width: 72%;
  height: 87%;
  object-fit: contain;
}
section#lightbox figure figcaption {
  color: #901C1C;
}
@media screen and (min-width: 0px) {
  section#lightbox figure figcaption {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1024px) {
  section#lightbox figure figcaption {
    font-size: 1.5rem;
  }
}
section#lightbox video {
  width: 72%;
  height: 87%;
  object-fit: contain;
}

section#modal {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#modal form {
  margin: 0;
  background-color: #DB8876;
  position: relative;
  padding: 25px 35px;
}
@media screen and (min-width: 0px) {
  section#modal form {
    max-width: 500px;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
  }
}
@media screen and (min-width: 1024px) {
  section#modal form {
    width: 670px;
    height: max-content;
    max-height: 96%;
  }
}
section#modal form fieldset {
  height: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  /*** Error message ***/
}
section#modal form fieldset .close-modal {
  position: absolute;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 0px) {
  section#modal form fieldset .close-modal {
    top: 20px;
    right: 20px;
    font-size: 1.1875rem;
  }
}
@media screen and (min-width: 1024px) {
  section#modal form fieldset .close-modal {
    top: 35px;
    right: 35px;
    font-size: 2.1875rem;
  }
}
section#modal form fieldset .close-modal::before {
  content: "";
  width: 42px;
  height: 42px;
  font-weight: 900;
  font-family: "fontawesome";
}
section#modal form fieldset h2 {
  font-size: 2.125rem;
  line-height: 36px;
  font-weight: 400;
  margin: 0px 0px 20px 0px;
  width: 100%;
}
section#modal form fieldset p {
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
}
section#modal form fieldset p label {
  font-size: 1.25rem;
}
section#modal form fieldset p input[type=text], section#modal form fieldset p input[type=email] {
  width: 100%;
  border-radius: 5px;
  border: none;
  height: 45px;
  margin-bottom: 26px;
}
section#modal form fieldset p textarea {
  height: 125px;
  border-radius: 5px;
  border: none;
  margin-bottom: 26px;
}
section#modal form fieldset p input[type=submit] {
  width: 170px;
  background-color: #901C1C;
  color: white;
  font-size: 1.125rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 0px) {
  section#modal form fieldset p input[type=submit] {
    margin: 10px auto 0px auto;
    padding: 10px;
  }
}
@media screen and (min-width: 1024px) {
  section#modal form fieldset p input[type=submit] {
    margin: 10px 0px 0px 0px;
    padding: 20px;
  }
}
section#modal form fieldset span.error {
  font-size: 0.875rem;
  color: #901C1C;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: left;
  opacity: 1;
  transition: 0.3s;
  width: 100%;
  height: max-content;
}
section#modal form fieldset span.messageSubmit {
  font-size: 0.875rem;
}
@media screen and (min-width: 0px) {
  section#modal form fieldset span.messageSubmit {
    margin: 10px auto 0px auto;
  }
}
@media screen and (min-width: 1024px) {
  section#modal form fieldset span.messageSubmit {
    position: absolute;
    right: 0px;
    top: 21px;
  }
}
section#modal form fieldset span.messageSubmit .red, section#modal form fieldset span.messageSubmit .green {
  background-color: white;
  border-radius: 5px;
  padding: 3px 7px;
  box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.5);
}
section#modal form fieldset span.messageSubmit .red {
  color: #901C1C;
}
section#modal form fieldset span.messageSubmit .green {
  color: green;
}

p#price {
  background-color: #DB8876;
  position: fixed;
  bottom: 0px;
  right: 30px;
  padding: 20px;
  border-radius: 5px 5px 0px 0px;
}
@media screen and (min-width: 0px) {
  p#price {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  p#price {
    display: block;
  }
}
p#price span {
  color: black;
  margin: 0px;
  font-size: 1.5rem;
  font-weight: 500;
}
p#price span #total_like {
  display: inline-block;
  margin-right: 5px;
}
p#price span i {
  margin-right: 70px;
}

ul.dropdown {
  z-index: 10;
  list-style: none;
  position: relative;
  background: #901C1C;
  width: 180px;
  height: 57px;
  cursor: pointer;
  margin: 30px 0 0 90px;
  padding: 0 0 0;
  border-radius: 5px;
}
@media screen and (min-width: 0px) {
  ul.dropdown {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  ul.dropdown {
    display: block;
  }
}
ul.dropdown li.label {
  position: absolute;
  top: 18px;
  left: -90px;
  background: #fff;
  color: black;
  font-weight: 700;
  font-size: 1.125rem;
}
ul.dropdown li#selected {
  list-style-position: inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul.dropdown li#selected button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0px 15px;
  color: white;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
  border: 0;
}
ul.dropdown li#selected button:focus {
  border: 2px solid black;
}
ul.dropdown li.list-container {
  position: relative;
}
ul.dropdown li.list-container ul.list li.list-item {
  padding: 15px 0px 15px 15px;
  transition: background-color 0.1s linear, color 0.1s linear;
  color: white;
  list-style-position: inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  position: relative;
  font-size: 1.125rem;
}
ul.dropdown li.list-container ul.list li.list-item::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 5%;
  background-color: white;
  height: 1px;
  width: 90%;
}
ul.dropdown li.list-container ul.list li.list-item:hover, ul.dropdown li.list-container ul.list li.list-item:focus {
  background-color: #DB8876;
  color: black;
  border: 2px solid black;
}
ul.dropdown li.list-container ul.list li.list-item:last-child::after {
  display: none;
}
ul.dropdown::before {
  content: "";
  position: absolute;
  z-index: 11;
  right: 10px;
  top: 17px;
  transition: transform 0.2s linear;
  color: white;
  font-weight: 900;
  font-family: "FontAwesome";
}

ul.dropdown.arrowOpen::before {
  transform: rotate(-180deg);
}

ul.list {
  width: 100%;
  position: absolute;
  z-index: 10;
  left: 0;
  top: -57px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  transition: opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9), max-height 0.5s cubic-bezier(0, 0, 0.38, 0.9);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #901C1C;
  border-radius: 5px;
}

ul.open {
  opacity: 1;
  overflow: auto;
  max-height: 15rem;
}

.tag a {
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  color: #901C1C;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 3px;
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
}
.tag a:hover, .tag a:focus {
  color: white;
  background-color: #901C1C;
}

section#fiche figure, section.index figure {
  margin: 0px;
}
section#fiche figure img, section.index figure img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.hidden {
  display: none !important;
}

/*# sourceMappingURL=style.css.map */
