html {
  font-family: "DM Sans", sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
html body {
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 0px) {
  html body {
    padding: 0px 20px;
  }
}
@media screen and (min-width: 1024px) {
  html body {
    padding: 0px 100px;
  }
}
@media screen and (min-width: 1024px) {
  html body {
    max-width: 1240px;
  }
}
html body .pass-content {
  text-align: center;
}
html body .pass-content a {
  color: black;
  font-weight: 700;
  background-color: #DB8876;
  border-radius: 5px;
  padding: 8px;
  text-decoration: none;
  opacity: 0;
}
html body .pass-content a:focus {
  opacity: 1;
}
html body header {
  padding: 10px 0px 0px 0px;
}
html body main {
  padding: 40px 0px 0px 0px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

:focus {
  border: 2px solid red;
}

header {
  display: flex;
}
@media screen and (min-width: 0px) {
  header {
    width: 100%;
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  header {
    width: 75%;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
header figure {
  margin: 0px;
  padding: 0px;
  height: auto;
  width: max-content;
}
@media screen and (min-width: 0px) {
  header figure img {
    width: 150px;
  }
}
@media screen and (min-width: 1024px) {
  header figure img {
    width: 200px;
  }
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
header nav ul {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin-bottom: 0px;
}
@media screen and (min-width: 1024px) {
  header nav ul {
    margin-top: 0px;
  }
}
@media screen and (min-width: 0px) {
  header nav ul {
    justify-content: center;
  }
}
header nav ul li {
  margin: 0px 5px 6px 0px;
  display: flex;
}

main#index.index {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}
@media screen and (min-width: 0px) {
  main#index.index {
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  main#index.index {
    flex-direction: row;
  }
}
main#index.index section figure figcaption.index_name {
  font-size: 2.25rem;
  color: #D3573C;
  font-weight: 400;
  margin: 0px 0px 10px 0px;
  text-align: center;
}
main#index.index h1 {
  font-weight: 400;
  color: #901C1C;
  margin: 0px;
  padding: 0px;
  text-align: right;
  width: max-content;
  position: absolute;
  right: 0px;
}
@media screen and (min-width: 0px) {
  main#index.index h1 {
    font-size: 0.875rem;
    top: -122px;
  }
}
@media screen and (min-width: 1024px) {
  main#index.index h1 {
    font-size: 2.25rem;
    top: -48px;
  }
}
main#index.index section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  flex-grow: 1;
  min-width: 33%;
}
main#index.index section a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
main#index.index section p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}
main#index.index section p span.index_country {
  display: block;
  font-size: 0.8125rem;
  color: #901C1C;
  margin: 0px 0px 10px 0px;
}
main#index.index section p span.index_tagline {
  display: block;
  font-size: 0.625rem;
  margin: 0px 0px 10px 0px;
  color: black;
}
main#index.index section p span.index_price {
  display: block;
  color: #757575;
  font-size: 0.5625rem;
  margin: 0px 0px 0px 0px;
}
main#index.index section ul {
  list-style: none;
  display: flex;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}
main#index.index section ul li {
  margin-right: 5px;
}

main.photographer section#fiche {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 0px) {
  main.photographer section#fiche {
    background-color: white;
    padding: 0px;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#fiche {
    background-color: #FAFAFA;
    padding: 50px;
  }
}
main.photographer section#fiche p.name {
  font-weight: 400;
  color: #D3573C;
  margin: 0;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 0px) {
  main.photographer section#fiche p.name {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#fiche p.name {
    font-size: 4rem;
  }
}
@media screen and (min-width: 0px) {
  main.photographer section#fiche p.contact {
    display: flex;
    justify-content: center;
    font-size: 1.125rem;
    position: fixed;
    bottom: 28px;
    margin: 0px auto;
    height: 35px;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#fiche p.contact {
    display: inline-block;
    justify-content: unset;
    font-size: 1.25rem;
    position: relative;
    bottom: unset;
    margin-left: 50px;
    height: 69px;
    width: max-content;
  }
}
main.photographer section#fiche p.contact button.btn {
  font-size: 1.125rem;
  font-weight: 700;
  color: white;
  background-color: #901C1C;
  width: max-content;
  padding: 0px 11px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
main.photographer section#fiche p.contact button.btn:hover, main.photographer section#fiche p.contact button.btn:focus {
  background-color: #D3573C;
}
main.photographer section#fiche p.country {
  width: 100%;
  color: #901C1C;
  margin: 0px;
}
@media screen and (min-width: 0px) {
  main.photographer section#fiche p.country {
    font-size: 0.8125rem;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#fiche p.country {
    font-size: 1.5rem;
  }
}
main.photographer section#fiche p.tagline {
  width: 100%;
  color: #525252;
}
@media screen and (min-width: 0px) {
  main.photographer section#fiche p.tagline {
    font-size: 0.8125rem;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#fiche p.tagline {
    font-size: 1.125rem;
  }
}
main.photographer section#fiche ul {
  width: 100%;
  list-style: none;
  display: flex;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}
main.photographer section#fiche ul li {
  margin-right: 5px;
}
@media screen and (min-width: 0px) {
  main.photographer section#fiche ul li a {
    font-size: 0.8125rem;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#fiche ul li a {
    font-size: 1.125rem;
  }
}
main.photographer section#fiche figure {
  position: absolute;
}
@media screen and (min-width: 0px) {
  main.photographer section#fiche figure {
    top: 0px;
    right: 20px;
  }
  main.photographer section#fiche figure img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#fiche figure {
    top: 50px;
    right: 50px;
  }
  main.photographer section#fiche figure img {
    width: 200px;
    height: 200px;
  }
}
main.photographer section#gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
@media screen and (min-width: 0px) {
  main.photographer section#gallery {
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#gallery {
    justify-content: space-between;
    flex-direction: row;
  }
}
main.photographer section#gallery figure {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 30px 0px;
}
@media screen and (min-width: 0px) {
  main.photographer section#gallery figure {
    width: 100%;
    max-width: 500px;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#gallery figure {
    width: 350px;
  }
}
main.photographer section#gallery figure img {
  border-radius: 5px;
  object-fit: cover;
  object-position: top;
  cursor: pointer;
}
@media screen and (min-width: 0px) {
  main.photographer section#gallery figure img {
    width: 100%;
    max-width: 500px;
    height: 190px;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#gallery figure img {
    width: 350px;
    height: 300px;
  }
}
main.photographer section#gallery figure video {
  margin: 0px 0px 0px 0px;
  object-fit: cover;
  object-position: top;
  cursor: pointer;
  border-radius: 5px;
}
@media screen and (min-width: 0px) {
  main.photographer section#gallery figure video {
    width: 100%;
    max-width: 500px;
    height: 190px;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#gallery figure video {
    max-width: 500px;
    height: 300px;
  }
}
main.photographer section#gallery figure canvas {
  width: 100%;
  height: 300px;
  order: 1;
  display: flex;
}
main.photographer section#gallery figure figcaption {
  display: flex;
  order: 2;
  display: flex;
  justify-content: space-between;
}
main.photographer section#gallery figure figcaption span.title {
  width: 80%;
}
main.photographer section#gallery figure figcaption span.like {
  width: max-content;
}
main.photographer section#gallery figure figcaption span.title, main.photographer section#gallery figure figcaption span.like {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #901C1C;
}
@media screen and (min-width: 0px) {
  main.photographer section#gallery figure figcaption span.title, main.photographer section#gallery figure figcaption span.like {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#gallery figure figcaption span.title, main.photographer section#gallery figure figcaption span.like {
    font-size: 1.5rem;
  }
}
main.photographer section#gallery figure figcaption .newcolor {
  color: #DB8876 !important;
}
main.photographer section#select {
  z-index: 10;
}
@media screen and (min-width: 0px) {
  main.photographer section#select {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#select {
    display: block;
  }
}
main.photographer section#select .dropdown {
  list-style: none;
  position: relative;
  background: #901C1C;
  width: 250px;
  height: 69px;
  cursor: pointer;
  margin: 30px 0 0 90px;
  padding: 0 0 0;
  border-radius: 5px;
}
main.photographer section#select .dropdown-label {
  position: absolute;
  top: 18px;
  left: -90px;
  background: #fff;
  color: black;
  font-weight: 700;
  font-size: 1.125rem;
}
main.photographer section#select .dropdown__arrow {
  position: absolute;
  z-index: 11;
  right: 10px;
  top: 19px;
  transition: transform 0.2s linear;
}
main.photographer section#select .dropdown__arrow.expanded {
  transform: rotate(-180deg);
}
main.photographer section#select .dropdown__list {
  width: 100%;
  position: absolute;
  z-index: 10;
  left: 0;
  top: -66px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  transition: opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9), max-height 0.5s cubic-bezier(0, 0, 0.38, 0.9);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
main.photographer section#select .dropdown__list-container {
  position: relative;
}
main.photographer section#select .dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #901C1C;
  border-radius: 5px;
}
main.photographer section#select .dropdown__list-item {
  padding: 15px 0px 15px 15px;
  transition: background-color 0.1s linear, color 0.1s linear;
  color: white;
  list-style-position: inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  position: relative;
  font-size: 1.125rem;
}
main.photographer section#select .dropdown__list-item::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 5%;
  background-color: white;
  height: 1px;
  width: 90%;
}
main.photographer section#select .dropdown__list-item:hover, main.photographer section#select .dropdown__list-item:focus {
  background-color: #DB8876;
  color: black;
}
main.photographer section#select .dropdown__list-item:last-child::after {
  display: none;
}
main.photographer section#select #dropdown__selected {
  color: white;
  padding: 0px 15px;
  list-style-position: inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.125rem;
  font-weight: 700;
}
main.photographer section#select #dropdown__selected:focus {
  outline: 1px solid #00C2FF;
}
main.photographer section#select .open {
  opacity: 1;
  overflow: auto;
  max-height: 15rem;
}
main.photographer section#price {
  background-color: #DB8876;
  position: fixed;
  bottom: 0px;
  right: 30px;
  padding: 20px;
  border-radius: 5px 5px 0px 0px;
}
@media screen and (min-width: 0px) {
  main.photographer section#price {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#price {
    display: block;
  }
}
main.photographer section#price p {
  color: black;
  margin: 0px;
  font-size: 1.5rem;
  font-weight: 500;
}
main.photographer section#price p #total_like {
  display: inline-block;
  margin-right: 5px;
}
main.photographer section#price p i {
  margin-right: 70px;
}
main.photographer section#lightbox {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  width: 100%;
  height: 100vh;
  z-index: 12;
}
main.photographer section#lightbox .close-lightbox {
  position: absolute;
  color: #901C1C;
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 0px) {
  main.photographer section#lightbox .close-lightbox {
    top: 20px;
    right: 20px;
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#lightbox .close-lightbox {
    top: 40px;
    right: 40px;
    font-size: 2.625rem;
  }
}
main.photographer section#lightbox .btnright-lightbox, main.photographer section#lightbox .btnleft-lightbox {
  position: absolute;
  top: 50%;
  color: #901C1C;
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 0px) {
  main.photographer section#lightbox .btnright-lightbox, main.photographer section#lightbox .btnleft-lightbox {
    font-size: 0.625rem;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#lightbox .btnright-lightbox, main.photographer section#lightbox .btnleft-lightbox {
    font-size: 1.875rem;
  }
}
@media screen and (min-width: 0px) {
  main.photographer section#lightbox .btnright-lightbox {
    right: 20px;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#lightbox .btnright-lightbox {
    right: 40px;
  }
}
@media screen and (min-width: 0px) {
  main.photographer section#lightbox .btnleft-lightbox {
    left: 20px;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#lightbox .btnleft-lightbox {
    left: 40px;
  }
}
main.photographer section#lightbox figure {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
main.photographer section#lightbox figure img {
  width: 72%;
  height: 87%;
  object-fit: contain;
}
main.photographer section#lightbox figure figcaption {
  color: #901C1C;
}
@media screen and (min-width: 0px) {
  main.photographer section#lightbox figure figcaption {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#lightbox figure figcaption {
    font-size: 1.5rem;
  }
}
main.photographer section#lightbox video {
  width: 72%;
  height: 87%;
  object-fit: contain;
}
main.photographer section#modal {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  width: 100%;
  height: 100vh;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.photographer section#modal .close-modal {
  position: absolute;
  color: #901C1C;
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 0px) {
  main.photographer section#modal .close-modal {
    top: 20px;
    right: 20px;
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#modal .close-modal {
    top: 40px;
    right: 40px;
    font-size: 2.625rem;
  }
}
main.photographer section#modal form {
  margin: 0;
  background-color: #DB8876;
  width: 400px;
  height: 80%;
  padding: 25px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*** Error message ***/
}
main.photographer section#modal form h2 {
  font-size: 2.3125rem;
  line-height: 45px;
  font-weight: 400;
  margin: 0;
}
main.photographer section#modal form p {
  display: flex;
  flex-direction: column;
  margin: 0;
}
main.photographer section#modal form p label {
  font-size: 1.125rem;
}
main.photographer section#modal form p input[type=text], main.photographer section#modal form p input[type=email] {
  width: 100%;
  border-radius: 5px;
  border: none;
  height: 48px;
}
main.photographer section#modal form p textarea {
  height: 135px;
  border-radius: 5px;
  border: none;
}
main.photographer section#modal form p input[type=submit] {
  width: min-content;
  background-color: #901C1C;
  color: white;
  font-size: 1.125rem;
  border-radius: 5px;
  padding: 20px;
  border: none;
}
main.photographer section#modal form p[data-error]::after {
  content: attr(data-error);
  font-size: 0.875rem;
  color: #901C1C;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
main.photographer section#modal form p[data-error-visible=true]::after {
  opacity: 1;
}

.tag {
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  color: #901C1C;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 3px;
  text-decoration: none;
  cursor: pointer;
}
.tag:hover, .tag:focus {
  color: white;
  background-color: #901C1C;
}

section#fiche figure, section.index figure {
  margin: 0px;
}
section#fiche figure img, section.index figure img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
