html {
  font-family: "DM Sans", sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
html body {
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 0px) {
  html body {
    padding: 0px 20px;
  }
}
@media screen and (min-width: 1024px) {
  html body {
    padding: 0px 100px;
  }
}
@media screen and (min-width: 1024px) {
  html body {
    max-width: 1240px;
  }
}
html body .pass-content {
  text-align: center;
}
html body .pass-content a {
  color: black;
  font-weight: 700;
  background-color: #DB8876;
  border-radius: 5px;
  padding: 8px;
  text-decoration: none;
  opacity: 0;
}
html body .pass-content a:focus {
  opacity: 1;
}
html body header {
  padding: 10px 0px 0px 0px;
}
html body main {
  padding: 40px 0px 0px 0px;
}

header {
  display: flex;
}
@media screen and (min-width: 0px) {
  header {
    width: 100%;
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  header {
    width: 75%;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
header figure {
  margin: 0px;
  padding: 0px;
  height: auto;
  width: max-content;
}
@media screen and (min-width: 0px) {
  header figure img {
    width: 150px;
  }
}
@media screen and (min-width: 1024px) {
  header figure img {
    width: 200px;
  }
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
header nav ul {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin-bottom: 0px;
}
@media screen and (min-width: 1024px) {
  header nav ul {
    margin-top: 0px;
  }
}
@media screen and (min-width: 0px) {
  header nav ul {
    justify-content: center;
  }
}
header nav ul li {
  margin: 0px 5px 6px 0px;
  display: flex;
}

main#index.index {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}
@media screen and (min-width: 0px) {
  main#index.index {
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  main#index.index {
    flex-direction: row;
  }
}
main#index.index section figure figcaption.index_name {
  font-size: 2.25rem;
  color: #D3573C;
  font-weight: 400;
  margin: 0px 0px 10px 0px;
  text-align: center;
}
main#index.index h1 {
  font-weight: 400;
  color: #901C1C;
  margin: 0px;
  padding: 0px;
  text-align: right;
  width: max-content;
  position: absolute;
  right: 0px;
}
@media screen and (min-width: 0px) {
  main#index.index h1 {
    font-size: 0.875rem;
    top: -122px;
  }
}
@media screen and (min-width: 1024px) {
  main#index.index h1 {
    font-size: 2.25rem;
    top: -48px;
  }
}
main#index.index section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  flex-grow: 1;
  min-width: 33%;
}
main#index.index section a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
main#index.index section p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}
main#index.index section p span.index_country {
  display: block;
  font-size: 0.8125rem;
  color: #901C1C;
  margin: 0px 0px 10px 0px;
}
main#index.index section p span.index_tagline {
  display: block;
  font-size: 0.625rem;
  margin: 0px 0px 10px 0px;
  color: black;
}
main#index.index section p span.index_price {
  display: block;
  color: #757575;
  font-size: 0.5625rem;
  margin: 0px 0px 0px 0px;
}
main#index.index section ul {
  list-style: none;
  display: flex;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}
main#index.index section ul li {
  margin-right: 5px;
}

main.photographer section#fiche {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (min-width: 0px) {
  main.photographer section#fiche {
    background-color: white;
    padding: 0px;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#fiche {
    background-color: #FAFAFA;
    padding: 50px;
  }
}
main.photographer section#fiche p.name {
  font-weight: 400;
  color: #D3573C;
  margin: 0;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 0px) {
  main.photographer section#fiche p.name {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#fiche p.name {
    font-size: 4rem;
  }
}
@media screen and (min-width: 0px) {
  main.photographer section#fiche p.contact {
    display: flex;
    justify-content: center;
    font-size: 1.125rem;
    position: fixed;
    bottom: 28px;
    margin: 0px auto;
    height: 35px;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#fiche p.contact {
    display: inline-block;
    justify-content: unset;
    font-size: 1.25rem;
    position: relative;
    bottom: unset;
    margin-left: 50px;
    height: 69px;
    width: max-content;
  }
}
main.photographer section#fiche p.contact a.btn {
  font-weight: 700;
  color: white;
  background-color: #901C1C;
  width: max-content;
  padding: 0px 11px;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
main.photographer section#fiche p.contact a.btn:hover, main.photographer section#fiche p.contact a.btn:focus {
  background-color: #D3573C;
}
main.photographer section#fiche p.country {
  width: 100%;
  color: #901C1C;
  margin: 0px;
}
@media screen and (min-width: 0px) {
  main.photographer section#fiche p.country {
    font-size: 0.8125rem;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#fiche p.country {
    font-size: 1.5rem;
  }
}
main.photographer section#fiche p.tagline {
  width: 100%;
  color: #525252;
}
@media screen and (min-width: 0px) {
  main.photographer section#fiche p.tagline {
    font-size: 0.8125rem;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#fiche p.tagline {
    font-size: 1.125rem;
  }
}
main.photographer section#fiche ul {
  width: 100%;
  list-style: none;
  display: flex;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}
main.photographer section#fiche ul li {
  margin-right: 5px;
}
@media screen and (min-width: 0px) {
  main.photographer section#fiche ul li a {
    font-size: 0.8125rem;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#fiche ul li a {
    font-size: 1.125rem;
  }
}
main.photographer section#fiche figure {
  position: absolute;
}
@media screen and (min-width: 0px) {
  main.photographer section#fiche figure {
    top: 0px;
    right: 20px;
  }
  main.photographer section#fiche figure img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#fiche figure {
    top: 50px;
    right: 50px;
  }
  main.photographer section#fiche figure img {
    width: 200px;
    height: 200px;
  }
}
main.photographer section#gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
@media screen and (min-width: 0px) {
  main.photographer section#gallery {
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#gallery {
    justify-content: space-between;
    flex-direction: row;
  }
}
main.photographer section#gallery figure {
  margin: 0px 0px 30px 0px;
}
@media screen and (min-width: 0px) {
  main.photographer section#gallery figure {
    width: 100%;
    max-width: 500px;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#gallery figure {
    width: 350px;
  }
}
main.photographer section#gallery figure img {
  border-radius: 5px;
  object-fit: cover;
}
@media screen and (min-width: 0px) {
  main.photographer section#gallery figure img {
    width: 100%;
    max-width: 500px;
    height: 190px;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#gallery figure img {
    width: 350px;
    height: 300px;
  }
}
main.photographer section#gallery figure figcaption {
  display: flex;
  justify-content: space-between;
}
main.photographer section#gallery figure figcaption span.title, main.photographer section#gallery figure figcaption span.like {
  color: #901C1C;
}
@media screen and (min-width: 0px) {
  main.photographer section#gallery figure figcaption span.title, main.photographer section#gallery figure figcaption span.like {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#gallery figure figcaption span.title, main.photographer section#gallery figure figcaption span.like {
    font-size: 1.5rem;
  }
}
main.photographer section#gallery video {
  margin: 0px 0px 30px 0px;
  object-fit: cover;
}
@media screen and (min-width: 0px) {
  main.photographer section#gallery video {
    width: 100%;
    max-width: 500px;
    height: 190px;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#gallery video {
    width: 350px;
    height: 300px;
  }
}
main.photographer section#select {
  margin-top: 30px;
}
@media screen and (min-width: 0px) {
  main.photographer section#select {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#select {
    display: block;
  }
}
main.photographer section#select label {
  font-weight: 700;
  font-size: 1.125rem;
}
main.photographer section#select .container {
  margin: 0px;
  width: 100%;
  display: flex;
  border-radius: 5px;
}
main.photographer section#select .dropdown {
  width: max-content;
  user-select: none;
  position: relative;
  border-radius: 5px;
  margin-left: 15px;
}
main.photographer section#select .dropdown .dropdown-btn {
  padding: 0px 35px 0px 0px;
  background: #901C1C;
  text-align: left;
  color: white;
  border-bottom: 1px solid transparent;
  border-radius: 5px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 5px;
}
main.photographer section#select .dropdown .dropdown-btn > p {
  display: inline-block;
  position: relative;
  margin-left: 15px;
  text-align: left;
  user-select: none;
  pointer-events: none;
  border-radius: 5px;
}
main.photographer section#select .dropdown .dropdown-btn i {
  color: white;
  line-height: 1.5;
  pointer-events: none;
  margin-left: 15px;
}
main.photographer section#select .dropdown .dropdown-btn.active {
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  border-bottom: 1px solid white;
  border-radius: 5px;
}
main.photographer section#select .dropdown .dropdown-content {
  position: absolute;
  top: 0;
  left: 0;
  background: #901C1C;
  border-radius: 5px;
  color: white;
  width: 100%;
  overflow: hidden;
  display: none;
}
main.photographer section#select .dropdown .dropdown-content .dropdown-item {
  padding: 15px;
  cursor: pointer;
  transition: all 0.2s;
  text-align: left;
}
main.photographer section#select .dropdown .dropdown-content .dropdown-item:not(:last-child) {
  border-bottom: 1px solid white;
}
main.photographer section#select .dropdown .dropdown-content .dropdown-item:hover {
  background: #DB8876;
  color: black;
}
main.photographer section#select .dropdown .dropdown-content.active {
  display: block;
}
main.photographer section#price {
  background-color: #DB8876;
  position: fixed;
  bottom: 0px;
  right: 30px;
  padding: 20px;
  border-radius: 5px 5px 0px 0px;
}
@media screen and (min-width: 0px) {
  main.photographer section#price {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  main.photographer section#price {
    display: block;
  }
}
main.photographer section#price p {
  color: black;
  margin: 0px;
}

a.tag {
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  color: #901C1C;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 3px;
  text-decoration: none;
}
a.tag:hover, a.tag:focus {
  color: white;
  background-color: #901C1C;
}

section#fiche figure, section.index figure {
  margin: 0px;
}
section#fiche figure img, section.index figure img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
