* { box-sizing: border-box; }

html {
  font-family: 'DM Sans', sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  body {
    position: relative;
    margin: 0px;
    @include media(phone) {padding: 0px 20px;}
    @include media(desktop) {padding: 0px 100px;}
    width: 100%;
    @include media(desktop) {max-width: 1440px;}
    display: flex;
    flex-direction: column;
    p {
      margin: 0;
      .skip-content {
        @include media(phone) {
          display: none
        }
        @include media(desktop) {
          display: block;
        }
        text-align: center;
        margin: 5px auto 0px auto;
        width: max-content;
        color: black;
        font-weight: 700;
        @include font-size(18);
        background-color: $color-third;
        border-radius: 5px;
        padding: 3px 8px;
        text-decoration: none;
        opacity: 0;
        display: block;
        &:focus, &:active {
            opacity: 1;
        }
      }
    }
    header {
      @include media(phone) {padding: 30px 0px 0px 0px;}
      @include media(desktop) {padding: 10px 0px 0px 0px;}
    }
    main#index.index {
      @include media(phone) {padding: 30px 0px 0px 0px; flex-direction: column;}
      @include media(desktop) {padding: 100px 0px 0px 0px; flex-direction: row;}
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start; 
      align-content: center;
    }
    main.photographer {
      @include media(phone) {padding: 30px 0px 0px 0px;}
      @include media(desktop) {padding: 50px 0px 0px 0px;}
    }
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }

  :focus {
    border: 2px solid black;
  }
}