main.photographer {
  section#fiche {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include media(phone) {
      background-color: white;
      padding: 0px;
    }
    @include media(desktop) {
      background-color: $color-light-gray;
      padding: 50px;
    }
    p.name {
      font-weight: 400;
      color: $color-secondary;
      margin: 0;
      display: flex;
      align-items: center;
      @include media(phone) {
        @include font-size(36);
      }
      @include media(desktop) {
        @include font-size(64);
      }
    }
    p.contact {
      @include media(phone) {
        display: flex;
        justify-content: center;
        @include font-size(18);
        position: fixed;
        bottom: 28px;
        margin: 0px auto;
        height: 35px;
        width: 100%;
      }
      @include media(desktop) {
        display: inline-block;
        justify-content: unset;
        @include font-size(20);
        position: relative;
        bottom: unset;
        margin-left: 50px;
        height: 69px;
        width: max-content;
      }
      a.btn {
        font-weight: 700;
        color: white;
        background-color: $color-primary;
        width: max-content;
        padding: 0px 11px;
        border-radius: 5px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        &:hover, &:focus {
          background-color: $color-secondary;
        }
      }
    }
    p.country {
      width: 100%;
      color: $color-primary;
      margin: 0px;
      @include media(phone) {
        @include font-size(13);
      }
      @include media(desktop) {
        @include font-size(24);
      }
    }
    p.tagline {
      width: 100%;
      color: $color-darker-gray;
      @include media(phone) {
        @include font-size(13);
      }
      @include media(desktop) {
        @include font-size(18);
      }
    }
    ul {
      width: 100%;
      list-style: none;
      display: flex;
      margin: 10px 0px 0px 0px;
      padding: 0px;
      li {
          margin-right: 5px;
          a {
            @include media(phone) {
              @include font-size(13);
            }
            @include media(desktop) {
              @include font-size(18);
            }
          }
      }
    }
    figure {
      position: absolute;
      @include media(phone) {
        top: 0px;
        right: 20px;
        img {
          width: 100px;
          height: 100px;
        }
      }
      @include media(desktop) {
        top: 50px;
        right: 50px;
        img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }

  section#gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    @include media(phone) {
      align-items: center;
      flex-direction: column;     
    }
    @include media(desktop) {
      justify-content: space-between;
      flex-direction: row;  
    }
    figure {
      margin: 0px 0px 30px 0px;
      @include media(phone) {
        width: 100%;
        max-width: 500px;
      }
      @include media(desktop) {
        width: 350px; 
      }
      img {
        border-radius: 5px;
        object-fit: cover;  
        @include media(phone) {
          width: 100%;
          max-width: 500px;
          height: 190px;
        }
        @include media(desktop) {
          width: 350px;
          height: 300px;   
        }
      }
      figcaption {
        display: flex;
        justify-content: space-between;
        span.title {width: 80%;}
        span.like {width:max-content;}
        span.title, span.like {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          @include media(phone) {
            @include font-size(14);
          }
          @include media(desktop) {
            @include font-size(24);
          }
          color: $color-primary;
        }
        .newcolor {
          color: $color-third !important;
        }
      }
    }
    div.video {
      margin: 0px 0px 30px 0px;
      @include media(phone) {
        width: 100%;
        max-width: 500px;
      }
      @include media(desktop) {
        width: 350px; 
      }
      video {
        margin: 0px 0px 0px 0px;
        object-fit: cover;
        @include media(phone) {
          width: 100%;
          max-width: 500px;
          height: 190px;
        }
        @include media(desktop) {
          width: 350px;
          height: 300px;   
        }
      }
      p.video {
        margin: 0;
        display: flex;
        justify-content: space-between;
        span.title {width: 80%;}
        span.like {width:max-content;}
        span.title, span.like {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          @include media(phone) {
            @include font-size(14);
          }
          @include media(desktop) {
            @include font-size(24);
          }
          color: $color-primary;
          .newcolor {
            color: $color-third !important;
          }
        }
      }
    }
  }

  section#select {
    @include media(phone) {
      display: none;
    }
    @include media(desktop) {
      display: block;
    }
    .dropdown {
      list-style: none;
      position: relative;
      background: $color-primary;
      width: 250px;
      height: 69px;
      cursor: pointer;
      margin: 30px 0 0 90px;
      padding: 0 0 0;
      border-radius: 5px;
      &-label {
        position: absolute;
        top: 18px;
        left: -90px;
        background: #fff;
        color: black;
        font-weight: 700;
        @include font-size(18);
      }
      &__arrow {
        position: absolute;
        z-index: 1;
        right: 10px;
        top: 19px;
        transition: transform .2s linear;
        &.expanded {
          transform: rotate(-180deg);
        }
      }
    
      &__list {
        width: 100%;
        position: absolute;
        left: 0;
        top: -66px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        transition: opacity .1s cubic-bezier(0, 0, 0.38, 0.9), max-height .5s cubic-bezier(0, 0, 0.38, 0.9);
        max-height: 0;
        overflow: hidden;
        opacity: 0;
      }
      &__list-container {
        position: relative;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: $color-primary;
        border-radius: 5px;
      }
       &__list-item {
        padding:15px 0px 15px 15px;
        transition: background-color .1s linear, color .1s linear;
        color: white;
        list-style-position: inside;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 700;
        position: relative;
        @include font-size(18);
          &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            right: 5%;
            background-color: white;
            height: 1px;
            width: 90%;
          }
         &:hover,
         &:focus {
           background-color: $color-third;
           color: black;
         }
      }
      &__list-item:last-child {
        &::after {
          display: none;
        }
      }
    }
    
    #dropdown__selected {
      color: white;
      padding: 0px 15px;
      list-style-position: inside;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      height: 66px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include font-size(18);
      font-weight: 700;
      &:focus {
        outline: 1px solid #00C2FF;
      }
    }
    .open {
      opacity: 1;
      overflow: auto;
      max-height: 15rem;
    }
  }

  section#price {
    background-color: $color-third;
    position: fixed;
    bottom: 0px;
    right: 30px;
    padding: 20px;
    border-radius: 5px 5px 0px 0px;
    @include media(phone) {
      display: none;
    }
    @include media(desktop) {
      display: block;
    }
    p {
      color: black;
      margin: 0px;
      @include font-size(24);
      font-weight: 500;
      #total_like {
        display: inline-block;
        margin-right: 5px;
      }
      i {
        margin-right: 70px;
      }
    }
  }
}